body {
  background: peachpuff;
  font-family: sans-serif;
}

ul  {
  list-style-type: none;
  text-align: center;

}

ul li {
  margin: 8px;
}

li::first-letter {
  font-size: 24px;
  font-style: !important;
}

h1 { 
  background-color: white;
  text-align: center;
  margin-top: 8px;
  border: dashed black;
}

#wrap {
  background-color: white;
  padding: 50px 20px;
  width: 900px; height: 630px;
  margin: 2px auto ;

}

a {
  text-decoration: none;
  text-decoration-color: blue;
}