.text{	
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

h4 {	
	display: block;
	margin-left: 2%;
	text-decoration-line: underline;
}

.yellow-bg {
background: yellow;
}

ul {
	margin-left: 5%;
}


.photo {
	width: 60%;
	border: orange solid 5px;
	display: block;
	margin: auto;
}

.redbox {
	width: 90%;
	display: block;
	margin: auto;
	text-align: center;
	color: red;
	font-size: 20px;
	font-weight: 1000;
	border: solid red;
	box-sizing: border-box;
}

table {
	width: 90%;
	margin: auto;

}

th, td {
	border: 1px solid black;
	text-align: center;
}

td {
	padding: 10px ;

}

/*
.blackbox1,.blackbox2 {
	width: 39%;
	font-size: 20px;
	font-weight: 1000;
	margin: auto;
	border: black solid;
}

.blackbox2 {
	margin: auto;
	font-size: 12px;
}

.boxes {
	align-items: center;
*/
}

