body { background-color: black; }

h1 {
color: white;
font-family: arial;
font: size30px;
}

h2 {
position: relative;
left: 5%;
color: white;
font-family: arial;
font: size20px;
}

.text {
color: white;
font-family: arial;
font: size12px;
}

.footer {
color: white;
font-family: arial;
font: size12px;
}

.container {
	width:auto;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}