body { 
  background-color: black; 

}

h1 {
  color: white;
  font-family: arial;
  font: size30px;
}

h2 {
  position: relative;
  left: 5%;
  color: white;
  font-family: arial;
  font: size20px;
}


.container {
  	width:auto;
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover {
  background-color: #111;
}


.text {
  margin: 20px;
  color: white;
  font-family: arial;
  font: size12px;
}


.picbio img {
  float: right ;
  margin: 20px;
  width: 500px;
  top: 50%;
  left: 50%;
}

.audio {
  align-content: center;
  border-radius:12px;
  width:  40%;
  height: 380;
  frameBorder: 0;
  allow: autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture

}

.button {
  background-color: #C13430;
  color: white;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-family: verdana;
  font-size: 16px;
  margin: 15px 30px;
    text-decoration: none;
}

.buttons {  
  align-items: center;
}


footer {
  text-align: center;
  color: white;
  font-family: arial;
  font: size8px;
}