body { background-color: black; }

h1 {
color: white;
font-family: arial;
font: size30px;
}

h2 {
position: relative;
left: 5%;
color: white;
font-family: arial;
font: size20px;
}

.text {
color: white;
font-family: arial;
font: size12px;
}

footer {
	text-align: center;
color: white;
font-family: arial;
font: size8px;
}

.container {
	width:auto;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio	{
	position: center;
border-radius:12px;
width:  100%;
height: 380;
frameBorder: 0;
allowfullscreen: ; 
allow: autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture

}

.picbio {
	width: 300px;

 top: 50%;
  left: 50%;
}