body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}



.parent {
 background-color: #ffff00;
 padding: 30px;
 width: 100vw;

}

.child {
background-color: #ff00ff;
padding: 30px;
}

.box {
  background-color: #00ffff;
  padding: 48px;
  width: 300px;
  border: solid black 5px;
  left: 0%;
  top: 0%;
  position: relative;
}

p {
  font-size: 25px;
  padding: 10px;
  margin: 0;
}

.box img {
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px;
}

@media (min-width:1024px) {
   .parent {background-color: orange;}

}

@media (max-width: 768px) {
   .parent {background-color: green;}
}